<div id="website" class="main-right">
	<div id="header">
		<div class="logo">
			{logo -> f:format.raw()}
		</div>
		<div class="nav_main">
			{navMain -> f:format.raw()}
			{navLanguage -> f:format.raw()}
			<div class="clear"></div>
		</div>
	</div>
	<div id="area">
		<div class="breadcrumb">
			{navBreadcrumb -> f:format.raw()}
		</div>

		<div id="nav_side">
			{navSub -> f:format.raw()}
		</div>
		<div id="content">
			{contentBefore -> f:format.raw()}
			{columnMain -> f:format.raw()}
			{contentAfter -> f:format.raw()}
		</div>
		<div id="sidebar">
			{columnRight -> f:format.raw()}
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
		<div class="copyright">
			{footerCopyright -> f:format.raw()}
		</div>
		<div class="nav_service">
			{navService -> f:format.raw()}
		</div>
	</div>
</div>
